{% if "POST" in http_methods or "PUT" in http_methods %}
use chrono::{DateTime, Utc};
use serde::{Deserialize, Serialize};
use validator::Validate;
use utoipa::ToSchema;
{% if "PUT" in http_methods %}
use uuid::Uuid;
{% endif %}
{% endif %}

{% if "POST" in http_methods %}
#[derive(Debug, Serialize, Deserialize, Validate, ToSchema, Default)]
pub struct Create{{ resource_name | pascal_case }}Payload {
    {% for field in fields %}
    {% if field.name != "uuid" and field.name != "created_at" and field.name != "updated_at" %}
    pub {{ field.name }}: {% if field.nullable == true %}Option<{% endif %}{{ field.field_type }}{% if field.nullable == true %}>{% endif %},
    {% endif %}
    {% endfor %}
}
{% endif %}

{% if "PUT" in http_methods %}
#[derive(Debug, Serialize, Deserialize, Validate, ToSchema, Default)]
pub struct Update{{ resource_name | pascal_case }}Payload {
    {% for field in fields %}
    {% if field.name != "created_at" and field.name != "updated_at" %}
    pub {{ field.name }}: {% if field.nullable == true %}Option<{% endif %}{{ field.field_type }}{% if field.nullable == true %}>{% endif %},
    {% endif %}
    {% endfor %}
}
{% endif %}